body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 120px auto;
    background: #020617;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tabs button {
    width: 70%;
    padding: 10px;
    margin-inline: 10px auto;
    background: #1e293b;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.tabs button:hover {
    background: #506481;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #16a34a;
}

pre {
    background: #020617;
    padding: 10px;
    border-radius: 5px;
}

.reset-btn {
    display: none;          /* initially hidden */
    margin: 20px auto;
    width: fit-content;

    background-color: #007bff;
    color: white;

    padding: 12px 20px;
    border-radius: 8px;

    text-decoration: none;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
    transition: 0.3s ease;
}

.reset-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}



