<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <h2>Authentication System</h2>

        <div class="card">
            <h3>Forgot Password</h3>

            <!-- STEP 1 : Enter Email -->
            <input type="email" id="forgotEmail" placeholder="Enter your registered email">

            <button onclick="forgotPassword()">Send Reset Link</button>
            <p id="forgotMsg"></p>
            <a id="resetLink" href="#" class="reset-btn" style="display: none;">
                🔐 Open Reset Link
            </a>
            
            
            
            <a href="/">⬅ Back to Login</a>
        </div>

    </div>
    <script src="/static/script.js"></script>
</body>
</html>
