<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h2>Authentication System</h2>

    <div class="card">
        <h3>Reset Password</h3>

        <!-- TOKEN (Flask se ayega) -->
        <input type="hidden" id="token" value="{{ token }}">

        <input type="password" id="newPassword" placeholder="New Password">

        <input type="password" id="confirmPassword" placeholder="Confirm Password">

        <button onclick="resetPassword()">Reset Password</button>

        <p id="resetMsg"></p>
        <br>
        <a href="/">⬅ Back to Login</a>
    </div>

</div>
 <script src="/static/script.js"></script>
</body>
</html>
